.selector-container {
  width: 800px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
  background-color: #5a6988;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
}

.modes-container {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #bcbfc6;
  color: #333743;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(52, 64, 71, 0.74);
  z-index: 10;
  text-align: center;
}

.clear-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicators {
  margin-top: 0.5rem;
}
